html {
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  background-color: #111;
  flex-direction: column;
  padding: 20px 20px 0 20px;
}

.wrapper {
  margin: auto;
  display: flex;
  background-color: #aaa;
  flex-direction: column;
}

.wrapper__part {
  display: flex;
}

.wrapper__img {
  border: 1px solid #000;
  display: block;
  height: 90%;
  width: 70%;
  border-radius: 20px;
}

.btn {
  border: none;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  width: 10%;
  cursor: pointer;
  margin: auto;
}

#btn:hover {
  background-color: #ccc;
}
